# Autotools
/aclocal.m4
/autom4te.cache
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
config.h
config.h.in
config.log
config.status
Makefile
Makefile.in

# Project output
sedutil-*.tar.*
linuxpba
sedutil-cli

# gcc
.deps/
.dirstamp
*.o

# Vim files
*.vim
*.swp
