BR2_x86_64=y
BR2_CCACHE=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_SEDUTIL_PATH)/patches"
BR2_PIC_PIE=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_4=y
BR2_UCLIBC_CONFIG="$(BR2_EXTERNAL_SEDUTIL_PATH)/board/uclibc.config"
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
# BR2_UCLIBC_INSTALL_UTILS is not set
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_ROOTFS_SKELETON_SEDUTIL=y
BR2_TARGET_GENERIC_PASSWD_SHA512=y
BR2_ROOTFS_DEVICE_TABLE="$(BR2_EXTERNAL_SEDUTIL_PATH)/board/device_table.txt"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_SEDUTIL_PATH)/board/overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_SEDUTIL_PATH)/board/build_images.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_EXTERNAL_SEDUTIL_PATH)/board/layout.sfdisk"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.4.80"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_SEDUTIL_PATH)/board/kernel.config"
BR2_LINUX_KERNEL_XZ=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_SEDUTIL_PATH)/board/busybox.config"
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_UTIL_LINUX=y
BR2_PACKAGE_SEDUTIL_XXC=y
BR2_PACKAGE_SYSLINUX_SEDUTIL=y
BR2_PACKAGE_SYSLINUX_SEDUTIL_CONFIG="$(BR2_EXTERNAL_SEDUTIL_PATH)/board/syslinux.cfg"
